@charset "utf-8";
.boldtext{
    font-family: titlefont;
}
textarea{
    resize: none;
}
label{
    margin-top: 8px;
}
#issuetypecontactbox p {
    margin-top: 8px;
    margin-bottom:8px;
}
#messagecontactbtn{
    display: flex;
    justify-content: center;
}
#messagecontactbtn ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
#sentcontactbtn{
    font-size: 14pt;
    padding: 8px 30px;
    margin: 50px ;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: all ease .5s;
}
.addressmap1{
    display: flex;
    justify-content: center;
}
.addressmap1 ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}
.addressmap1 ul li a{
    font-size: 14pt;
    padding: 8px 30px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    transition: all ease .5s;
    text-decoration: none;
}
#addressmap2{
    margin-top: 100px;
}

/* Xl */
@media (min-width:1200px){
    #sentcontactbtn:hover{
        background-color: rgb(128, 128, 128);
        color: rgb(255, 255, 255);
        transition: all ease .5s;
    }
    .addressmap1 ul li a:hover{
        background-color: rgb(128, 128, 128);
        color: rgb(255, 255, 255);
        transition: all ease .5s;
    }
}
   /* LG */
@media (min-width:992px) and (max-width:1199px){ 
    #sentcontactbtn:hover{
        background-color: rgb(128, 128, 128);
        color: rgb(255, 255, 255);
        transition: all ease .5s;
    } 
    .addressmap1 ul li a:hover{
        background-color: rgb(128, 128, 128);
        color: rgb(255, 255, 255);
        transition: all ease .5s;
    }      
}

   /* MD */
   @media (min-width:768px) and (max-width:991px){
   }
   
   /* SM */
   @media (min-width: 576px) and (max-width: 767px){
    }
   /* XS */
   @media (max-width: 575px){
   }