/* embed font */
@font-face {
    font-family: decor;
    src: url(../font/SFProDisplay-Bold.eot),
    url(../font/SFProDisplay-Bold.ttf),
    url(../font/SFProDisplay-Bold.woff);
}

@font-face {
    font-family: regular;
    src: url(../font/SFProDisplay-Regular.eot),
    url(../font/SFProDisplay-Regular.ttf),
    url(../font/SFProDisplay-Regular.woff);
}
@font-face {
    font-family: thinfont;
    src: url(../font/SFProDisplay-Thin.eot),
    url(../font/SFProDisplay-Thin.ttf),
    url(../font/SFProDisplay-Thin.woff);
   
}

body{font-family: regular;}
.news{
    margin-top: 20px;
}
.news p{
    text-align: center;    
}

#submitbtn input{
    width: 140px!important;
    text-align: center;
    color: white!important;
    background-color: black!important;
    border: solid 1pt rgb(0, 0, 0)!important;
    margin-top: 10px;
    border-radius: 5px 5px!important;
    height: 40px!important;
    transition: all ease 0.5s;
    line-height: 10px;
}

#tieude h4{
    text-decoration: underline;
    float: left;
    margin-top: 20px;
}

.addressbar{
    height: 40px;
    background-color: #D9d9d9;
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgba(0, 0, 0, 0);
  }

  ul.breadcrumb li {
    display: inline;
    font-size: 15px;
  }
  
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: rgb(0, 0, 0);
    content: "|\00a0";
  }
  
  ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
  }
/* Canh hinh */
  #tintuc1 {
    position: relative;
    text-align: center;
    color: white;
  }

  .news10{
    position: relative;
    text-align: center;
    color: white;
  }

  
.bottom-left{
    position: absolute;
    bottom: 36px;
    left: 40px;
    right: 40px;
  }

  .bottom-left2{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 4000;}

/* Canh hinh */
  #formsign ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#formsign ul li{
    display: flex;
    margin-bottom: 5px;
    justify-content: center;
    
}
#formsign ul li input{
    outline: none;
    border: none;
    background-color: rgba(230, 241, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
}
#textform p{
    text-decoration: underline;
}

.test img{
border-radius: 10px;
}

#news10{
  border-radius: 10px;
}

.news10::after{
  border-radius: 10px;
}

#tintucimg1,#tintucimg2{
border-radius: 10px;
}

/* Diff news */
#newstit{
  margin-top: 50px;
  }
  .Newsbox{
    display: block;
    width: 300px;
    text-decoration: none;
    color: black;
    }
    
    .Newsbox h5{
    text-decoration: none;
    color: black;
    }
    
    .Newsbox p{
        text-decoration: none;
        color: black;
        }

        .owl-three a{
          text-decoration: none;
          }


/* Diff news */

/* Screen XL */
@media (min-width: 1200px) {
   #tintuc1 img{
    background-size: contain;
    width: 100%;       
   }
   #tintuc2 img{
    background-size: contain;
    width: 100%;       
   }
   #textform p{
    color: #000000;
    font-size: 20pt;
    text-align: center;
    margin-top: 20px;
}

#tintucimg2{
    margin-top: 20px;
}
#submitbtn input:hover{
    transition: all ease 0.5s;
    border: none!important;
    background-color: #808080!important;
}

.bottom-left{
    position: absolute;
    bottom: 36px;
    left: 40px;
    right: 40px;
  }

  .bottom-left2{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    z-index: 4000;
  }

  .test h5:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: all ease .5s;
  }

  .news10{
    position:relative;
    display:inline-block;
  }

  .news10:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    transition: all ease .5s;
  }

  .news10:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.1)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%,rgb(0, 0, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

  .news10 img{
    display:block;
  }

  .Newsbox h5:hover{
    color: #808080;
    transition: all ease 0.3s;
}

}

/* Screen LG */
@media (min-width: 992px) and (max-width: 1199px){

    .bottom-left{
        position: absolute;
        bottom: 36px;
        left: 40px;
        right: 40px;
      }

    #tintuc1 {
        position: relative;
        text-align: center;
        color: white;
      }
    
      .news10{
        position: relative;
        text-align: center;
        color: white;
      }

      .news11{
        position: relative;
        text-align: center;
        color: white;
      }

       #textform p{
        color: #000000;
        font-size: 20pt;
        text-align: center;
        margin-top: 20px;
    }
    #tintucimg1{
        
    }
    #tintucimg2{
       
    }
    #submitbtn input:hover{
        transition: all ease 0.5s;
        border: none!important;
        background-color: #808080!important;
    }

    #tintuc2{
    position: relative;
    }

    #tintucimg2{margin-top: 23px;}

    .bottom-left{
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 20px;
        letter-spacing: 0px;
      }
    
      .bottom-left2{
        position: absolute;
        bottom: 20px;
        left: 10px;
        right: 10px;
        z-index: 4000;
      }
    
      #tintuc1 {
        position: relative;
        text-align: center;
        color: white;
      }

      .news10{
        position:relative;
        display:inline-block;
      }
    
      .news10:after {
        content:'';
        position:absolute;
        left:0; top:0;
        width:100%; height:100%;
        display:inline-block;
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.192)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
      }
    
      .news10 img{
        display:block;
      }

      .Newsbox h5:hover{
        color: #808080;
        transition: all ease 0.3s;
    }

    .test h5:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7);
      transition: all ease .5s;
    }
  
    .news10{
      position:relative;
      display:inline-block;
    }
  
    .news10:hover{
      cursor: pointer;
      color: rgba(255, 255, 255, 0.7);
      transition: all ease .5s;
    }
}

/* Screen MD */
@media (min-width: 768px) and (max-width: 991px) {
    #line img {
        width: 720px;
        height: auto;
    }
    #textform p{
        color: #000000;
        font-size: 20pt;
        text-align: center;
        margin-top: 20px;
    }
    
    #tintuc1{
      margin-bottom: 20px;
    }
 
    #tintuc2{
        position: relative;
        }
    
        #tintucimg2{}
    
        .bottom-left{
            position: absolute;
            bottom: 30px;
            left: 40px;
            right: 40px;
          }
        
          .bottom-left2{
            position: absolute;
            bottom: 20px;
            left: 20px;
            right: 20px;
            z-index: 4000;
          }
        
          #tintuc1 {
            position: relative;
            text-align: center;
            color: white;
          }
    
          .news10{
            position:relative;
            display:inline-block;
          }
        
          .news10:after {
            content:'';
            position:absolute;
            left:0; top:0;
            width:100%; height:100%;
            display:inline-block;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.192)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
          }
        
          .news10 img{
            display:block;
          }


}

/* Screen SM */
@media (min-width: 576px) and (max-width: 767px) {
    #line img {
        width: 540px;
        height: auto;
    }
    #textform p{
        color: #000000;
        font-size: 20pt;                        
        text-align: center;
        margin-top: 15px;
    }

    #tintuc2{
      position: relative;
      }
  
      #tintucimg2{}
  #tintuc1{
    margin-bottom: 20px;
  }
      .bottom-left{
          position: absolute;
          bottom: 10px;
          left: 40px;
          right: 40px;
        }
      
        .bottom-left2{
          position: absolute;
          bottom: 20px;
          left: 20px;
          right: 20px;
          z-index: 4000;
          letter-spacing: -1px;
        }
      
        #tintuc1 {
          position: relative;
          text-align: center;
          color: white;
        }
  
        .news10{
          position:relative;
          display:inline-block;
        }
      
        .news10:after {
          content:'';
          position:absolute;
          left:0; top:0;
          width:100%; height:100%;
          display:inline-block;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.192)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }
      
        .news10 img{
          display:block;
        }

  
}

/* Screen XS */
@media (max-width: 575px){
    #line img {
        width: 420px;
        height: auto;
    }
    #textform p{
        color: #000000;
        font-size: 20pt;
        text-align: center;
        margin-top: 10px;
    }

    #tintuc2{
      position: relative;
      margin-top: 20px;
      }
  
      #tintucimg2{}
  
      .bottom-left{
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          letter-spacing: -1px;
          z-index: 4000;
        }
      
        .bottom-left2{
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          z-index: 4000;
        }
      
        #tintuc1 {
          position: relative;
          text-align: center;
          color: white;
        }
  
        .news10{
          position:relative;
          display:inline-block;
          font-size: 13px;
          letter-spacing: -1px;
        }
      
        .news10:after {
          content:'';
          position:absolute;
          left:0; top:0;
          width:100%; height:100%;
          display:inline-block;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.192)), color-stop(100%,rgb(0, 0, 0))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }
      
        .test img{
          display:block;
        }

        .test{
          position:relative;
          display:inline-block;
          letter-spacing: -1px;
        }
      
        .test:after {
          content:'';
          position:absolute;
          left:0; top:0;
          width:100%; height:100%;
          display:inline-block;
          background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%, rgba(0, 0, 0, 0.19) 100%); /* FF3.6+ */
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.1)), color-stop(100%,rgb(0, 0, 0.2))); /* Chrome,Safari4+ */
          background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* Chrome10+,Safari5.1+ */
          background: -o-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.5 100%)); /* Opera 11.10+ */
          background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.192) 0%,rgb(0, 0, 0) 100%); /* IE10+ */
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0.192) 0%,rgba(0, 0, 0, 0.2) 100%); /* W3C */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        }
    
}
