@charset "utf-8";
/* embed font */
@font-face {
    font-family: decor;
    src: url(../font/SFProDisplay-Bold.eot),
    url(../font/SFProDisplay-Bold.ttf),
    url(../font/SFProDisplay-Bold.woff);
}

@font-face {
    font-family: regular;
    src: url(../font/SFProDisplay-Regular.eot),
    url(../font/SFProDisplay-Regular.ttf),
    url(../font/SFProDisplay-Regular.woff);
}
@font-face {
    font-family: thifont;
    src: url(../font/SFProDisplay-Thin.eot),
    url(../font/SFProDisplay-Thin.ttf),
    url(../font/SFProDisplay-Thin.woff);
   
}

body{font-family: regular;}
h2{font-family: decor;
    font-size: 25pt;
    text-decoration: underline;
    color: rgb(0, 0, 0);}
p{font-family: regular;}

#logoimg{
    height: 150px;
    width: auto;
}
#logo{
    justify-content: center;
    text-align: center;

}
#textgioithieu{
    margin-top: 10px;
    text-align: center;
}
#tieude h2{
    text-decoration: underline;
    float: left;
}

#foundername{
    font-family: decor;
    text-align: center;
}

#appleagent{
    text-align: center;
    height: 150px;
}



/* Screen XL */
@media (min-width: 1200px) {
    #line img {
        width: 1140px;
        height: auto;
    }
}

/* Screen LG */
@media (min-width: 992px) and (max-width: 1199px){
    #line img {
        width: 960px;
        height: auto;
    }
}

/* Screen MD */
@media (min-width: 768px) and (max-width: 991px) {
    #line img {
        width: 720px;
        height: auto;
    }
}

/* Screen SM */
@media (min-width: 576px) and (max-width: 767px) {
    #line img {
        width: 540px;
        height: auto;
    }
}

/* Screen XS */
@media (max-width: 575px){
    #line img {
        width: 420px;
        height: auto;
    }
    
}
