@charset "utf-8";
.textborder{
    border: solid 1px #ccc;
    border-radius: 10px;
}
.faqtext ul{
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    }
    
    .faqtext ul li{
    display: block;
    vertical-align: middle;
    text-align: left;
    color: black;
    }
    


    .faqtext ul li  p{
       margin-right:0px ;
       margin-top: 10px;
       margin-bottom: 10px;
       font-size: 20px;
       text-align: left;
       text-decoration: none;
       color: rgb(0, 0, 0);
    }

        .expand ul{
            display: block;
            list-style-type: none;
            padding: 0px;
            margin: 0px;
            }
            
        .expand ul li i{
            color: black;
        }
        .expand ul li{
            display: block;
            vertical-align: middle;
            text-align: right;
            color:black;
            margin-top: 15px;
            }
            
        .expand ul li a{
            text-align: left;
            text-decoration: none;
            color: white;
            }

                .textexpandedinfo ul{
                    display: block;
                    margin-top: 10px;
                    margin-right: 35px;
                    list-style-type: none;

                    }
                .textexpandedinfo ol {
                        display: block;
                        margin-top: 10px;
                        margin-right: 35px;
                        list-style-type: none;
                }
                    
                .textexpandedinfo ul li{
                    display: block;
                    vertical-align: middle;
                    text-align: left;
                    }
    
                .textexpandedinfo ul li p{
                    font-size: 17px;
                    font-family: textfont;
                    text-align: left;
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    }
                .textexpandedinfo ol li p{
                    font-size: 17px;
                    font-family: textfont;
                    }
                .textexpandedinfo ol p{
                        font-size: 17px;
                        font-family: textfont;
                        }

                .expandedinfo ul{
                    display: block;
                    margin-top: 30px;
                    list-style-type: none;

                    }
                    
                .expandedinfo ul li{
                    display: block;
                    vertical-align: middle;
                    text-align: left;
                    }
                    
                .expandedinfo ul li a{
                    text-align: left;
                    text-decoration: none;
                    color: white;
                    }
    
                .expandedinfo ul li a p{
                    font-weight: 300;
                    }
                #expandedtext3 ol li{
                    list-style: disc;
                }
                #expandedtext4 ol li{
                    list-style: disc;
                }