
.show {
  display: block;
}
.filterDiv {
   display: block ;
}
.container {
  margin-top: 20px;
  
}
#bannerguarentee{
    height: 650px;
    background-image: url(../imgs/Img/GUARANTEE/peakpx.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
    
}
  .contentguarantee {
    width: 100%;
    position:center;
    margin-top: 80px;
    vertical-align: middle;
    text-align: center;
    color: #f1f1f1;   
  }
  
  
#bannerwhite{
    background-color: white;
    
    position: relative;
    margin-top: 50px;
    
}
.titleguarantee{
    text-align: center;
    vertical-align: middle;
    margin-top: 0;
}
table {
    border-radius: 50px 50px 0px 0px ;
    border: solid #000000 1pt;
    border-collapse:collapse;
    width: 100%;
  }
  
  th, td {
    border: solid #000000 1pt;
    text-align: left;
   
    padding: 8px;
  }
  th{
    background-color: none;
    border:  none;

    border: solid #000000 1pt;
    
  }
.policy1, .policy2, .policy3 {
height: 40px;
width: 100%;
text-align: center;
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
border-radius: 5px;
border: transparent;
margin-bottom: 30px;
}
.policy1 p, .policy2 p, .policy3 p {
  margin-top: 5px;
  }


   /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0); 
  border-radius: 10px;
  }
  
 

  @keyframes fade-in{
    to {scale: 1; opacity:1 ;}
    
}
@keyframes fade-out {
    to {opacity: 0;}
    
}
@keyframes bannerguarentee-animation {
    25% { opacity: 1;}
    85%, 100% {opacity: 0; scale: 3;}

}

  tr:nth-child(even) {background-color: #ffffff;}

  .picguarantee{
    background-image: url(../imgs/Img/GUARANTEE/peakpx---Copy.png);
    height: 300px;
    background-size: cover;
    background-position:bottom right ;
    background-repeat: no-repeat;
    border-radius: 0px 150px 150px 0px;
    margin-left: 0px;
    transition: all ease 0.5S;
    box-shadow: 5px 5px 20px #000000;
    border: solid black 1pt;
    
  }
  .picguarantee img{
    margin-top: -110px;
    background-size: cover;
 
  }
  .contentpicgua{
    vertical-align: middle;
    margin-top: 50px;
    justify-content: center;

  }
#bannergray{
  background-color: rgba(231, 231, 231, 0.60)!important;
  backdrop-filter:blur(3px) ;
  height: 650px;
  position: relative;
    
    
}
.banner2{
    background-image: url(../imgs/Img/RECRUITMENT/ca12911d5d7c971bc255d5eed531da7f_6355655594036978153.png);
    background-size: contain;
    height: 650px;
    background-position:center;
    background-repeat: no-repeat;
    
  }
  .contentR1{
    margin-top: 20px;
    flex: 1 1 68%;
    height: 30px;
    width: 100%;
    
    background-color: #fff;
    border-radius: 10px;
    border: solid #dcdfe6 1pt;
    box-sizing: border-box;
    color: #606266;
    outline: none;
    
  }
  .contentR2{
    margin-top: 20px;
    flex: 1 1 68%;
    height: 30px;
    width: 90%;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 10px;
    border: solid #dcdfe6 1pt;
    box-sizing: border-box;
    color: #606266;
    outline: none;
    cursor: pointer;
  }
  #seachF{
    flex: 1 1 32%;
    height: 100%;
    width: 75%;
    background: #ffffff;
    border: none;
    border-radius: 0 .11rem .11rem 0;
    color: #000000;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    box-sizing: border-box;}
    #seachF2{
        flex: 1 1 32%;
        height: 100%;
        width: 100%;
        background: #ffffff;
        border: none;
        border-radius: 0 .11rem .11rem 0;
        color: #000000;
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;}
    #seachR{
        flex: 1 1 32%;
        height: 100%;
        width: 20%;
        background-color: white;
        border: none;
        border-radius: 0 .11rem .11rem 0;
        color: #000000;
        white-space: nowrap;
        cursor: pointer;
        outline: none;
        box-sizing: border-box;}

    .col-25, .col-75, input[type=submit] {

        width: 100%;
        margin-top: 0;
        }
  .loctuyen ul{
    list-style-type: none;
    padding: 0px;
    margin:0px;
    border-left: solid black 1pt;
    
  }
  .loctuyen ul li{
    display: flex;
    margin-top: 30px;
    margin-left: 5px;
    
  }
  .loctuyen ul li a{
    text-decoration:none;
    
    color: #000000;
  }
  .imprint{
    float: left;
    margin-top: 5px;
    margin-left: -5px;
    margin-right: 5px;
    width: 20px;
    height: 10px;
    background: #7bb1ff;
    border-radius: 0 10px 10px 0;
    margin-bottom: 10px;
  }
  .titleimprint{
    display: flex;
    float: left ;
  }
  .noidungtuyen ul{
    list-style-type: none;
    padding: 0px;
    margin:0px;
    
    border-left: solid black 1pt;
    
  }
  .noidungtuyen ul li{
    display: flex;
    float: left;
    height: 100px;
    width: 100%;
    margin-top: 30px;
    margin-left: 0px;
    background-color: white;
    border-radius: 10px;
    border: solid 1pt #000000;
  }
  
  /* xl */
  @media(min-width:1200px){
     /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
    }
    .policy1:hover, .policy2:hover, .policy3:hover {
      background-color: #808080;
      color: white;
      }
      .policy1:active, .policy2:active, .policy3:active {
        background-color: #294CC9;
        color: white;
        }
  }
  /* lg */
  @media(min-width:920px) and (max-width:1199px){
     /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000; 
    }
    .policy1:hover, .policy2:hover, .policy3:hover {
      background-color: #808080;
      color: white;
      }
      .policy1:active, .policy2:active, .policy3:active {
        background-color: #294CC9;
        color: white;
        }

    #bannergray{
      background-color: rgba(231, 231, 231, 0.60)!important;
      backdrop-filter:blur(3px) ;
      height: 1000px;
      position: relative;        
    }
    #bannerwhite{
      background-color: white;
      
      position: relative;
      margin-top: 50px;
      margin-bottom: 200px;

  }
  .picguarantee img{
    margin-top: -190px;
    background-size: cover;
 
  }
  }
  /* md */
  @media(min-width:768px) and (max-width:991px){
    .policy1:active, .policy2:active, .policy3:active {
      background-color: rgb(0, 0, 0);
      color: white;
      }
    #bannergray{
      background-color: rgba(231, 231, 231, 0.60)!important;
      backdrop-filter:blur(3px) ;
      height: 1100px;
      position: relative;        
    }
    .contentrecruitment {
      width: 100%;
      position:center;
      margin-top: 250px;
      vertical-align: middle;
      text-align: center;
      color: #f1f1f1;   
    }
    .banner2{
      background-image: url(../imgs/Img/RECRUITMENT/ca12911d5d7c971bc255d5eed531da7f_6355655594036978153.png);
      background-size: contain;
      height: 550px;
      background-position:center;
      background-repeat: no-repeat;
      
    }
    #bannerwhite{
      background-color: white;
      
      position: relative;
      margin-top: 30px;
      margin-bottom: 140px;

  }
  }
  /* Sm */
  @media(min-width:576px) and (max-width:767px){
    .policy1:active, .policy2:active, .policy3:active {
      background-color: rgb(0, 0, 0);
      color: white;
      }
    #bannergray{
      background-color: rgba(231, 231, 231, 0.60)!important;
      backdrop-filter:blur(3px) ;
      height: 1600px;
      position: relative;        
    }
    #bannerwhite{
      background-color: white;
      
      position: relative;
      margin-top: 30px;
      margin-bottom: 100px;

  }
  .picguarantee img{
    margin-top: -100px;
    background-size: cover;
 
  }
  .picguarantee{
    
    height: 200px;
   
  }
  
  }
  /* Xs */
  @media(max-width:575px){   
    .policy1:active, .policy2:active, .policy3:active {
      background-color: rgb(0, 0, 0);
      color: white;
      }
    #bannerwhite{
      background-color: white;
      
      position: relative;
      margin-top: 30px;
      margin-bottom: 100px;

  } 
    #bannergray{
    background-color: rgba(231, 231, 231, 0.60)!important;
    backdrop-filter:blur(3px) ;
    height: 1600px;
    position: relative;        
  }
  .picguarantee img{
    margin-top: -80px;
    background-size: cover;
 
  }
  .picguarantee{
    
    height: 130px;
   
  }
}